@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-content {
  @include mixin.dbg-border(yellow, 6, 1);
  display: flex;
  flex-direction: column; // タテ並び
  justify-content: space-between; // 両端から均等に配置
  height: 642px;
  margin: 5.33vw;

  &--img-takeout {
    background: no-repeat center/cover url("../../img/takeout.jpg");
  }
  &--img-eatin {
    background: no-repeat center/cover url("../../img/eatin.jpg");
  }

  &__title {
    @include mixin.dbg-border(lightgreen, 3, 1);
    padding-top: 13px;
    padding-left: 4vw;
    color: variable.$color-white;
    font-size: 41px;

    &::after {
      @include mixin.dbg-border(lightgreen, 3, 1);
      display: block; // 擬似要素はインライン要素のためwidth, height指定できるよう変更
      content: ""; // before, after擬似要素で必須
      height: 4px;
      width: 34px;
      margin-top: 17px;
      background-color: variable.$color-white;
    }
  }

  &__cards {
    @include mixin.dbg-border(blue, 10, 1);
  }

  &__card {
    @include mixin.dbg-border(red, 3, 1);
    margin: 0 4.26vw 16px;
    color: variable.$color-black;
    background-color: variable.$color-white;
    opacity: 0.8;
    font-family: 'M PLUS 1p';
    &__title {
      @include mixin.dbg-border(blue, 3, 1);
      padding: 16px 0 8px 4.26vw;
      font-size: 22px;
      line-height: 24px;
    }
    &__sentence {
      @include mixin.dbg-border(black, 3, 1);
      padding: 0 16px 16px 4.26vw;
      font-weight: normal;
    }
  }

}


