@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-mainvisual {
  @include mixin.dbg-border(green, 3, 1);
  display: flex;
  align-items: center; // タテ真ん中
  height: 285px;
  background: no-repeat center/cover url("../../img/mainvisual-sp.jpg");

  &__title {
    @include mixin.dbg-border(lightgreen, 3, 1);
    margin-top: 12px;
    margin-left: 6.66vw;
    color: variable.$color-white;
    font-family: 'M PLUS 1p';
    font-size: 36px;
  }

}


